body .main-container {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

/* While loading */
body .loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* If there are no quizzes or category*/
body .no-quizzes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

body .category-header {
  padding: 2rem;
  background-color: var(--category-color, #3f51b5);
  color: white;
}

body .main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  margin-top: 2rem;
  width: 100%;
}

body .back-button {
  margin-bottom: 16px; 
  text-transform: none;
}

body .back-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


body .back-button-icon {
  width: 16px;
  height: 16px;
}

body .header-content {
  display: flex;
  gap: 1rem;
  align-items: center;
}

body .icon {
  font-size: 2.25rem;
}

body .text-content .category-title {
  font-weight: 700;
  line-height: 1.2;
}

body .text-content .category-description {
  margin-top: 0.5rem;
  max-width: 42rem;
  line-height: 1.5;
}


/* Quiz Card */
body .quiz-card {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  position: relative;
  width: 100%;
}

body .quiz-card:hover {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
}

body .badgeDifficulty {
  margin-bottom: 4rem;
  margin-top: 1rem;
  margin-left: -2rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

body .quiz-details {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  font-size: 1.1rem;
  color: #555;
}

body .quiz-time,
body .quiz-popularity {
  display: flex;
  align-items: center;
}

body .quiz-icon {
  margin-right: 0.5rem;
}

body .quiz-button {
  padding: 2rem;
}

body .start-quiz-button {
  width: 100%;
  background: linear-gradient(45deg, #9c27b0 30%, #e91e63 90%);
}

/* Responsive Styles */
@media (max-width: 600px) {
  body .category-header {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  body .back-button {
    font-size: 0.875rem;
  }

  body .header-content {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: 600px) {
  body .category-header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
