.group-container {
    max-width: 900px; /* o incluso 900px si quieres más */
    width: 90%;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    transition: all 0.3s ease-in-out;
}


.group-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.group-title {
    font-weight: 600;
    color: #2c3e50;
}

.tabs-container {
    margin-bottom: 1.5rem;
}

.tabs-header {
    background-color: #f5f5f5;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.group-add-tab,
.group-create-tab {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.group-add-tab button,
.group-create-tab button {
    align-self: center;
    background: linear-gradient(to right, #349e1e, #3a7528);
}

.close-button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.close-button button{
    background: linear-gradient(to right, #8a2be2, #d147a3);
}


.error-message {
    color: #e74c3c;
    font-size: 0.9rem;
}

.group-info {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.group-name {
    color: #34495e;
}

.group-members {
    margin-top: 2rem;
}

.group-members-title {
    font-weight: 500;
    color: #2c3e50;
    margin-bottom: 0.5rem;
}

.current-user {
    font-weight: bold;
    background-color: rgba(144, 202, 249, 0.2);
}

.group-controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

@media screen and (max-width: 480px) {
    .group-controls {
        flex-direction: column;
        gap: 1rem;
    }

    .group-add-tab button,
    .group-create-tab button {
        width: 100%;
        background-color: linear-gradient(to right, #8a2be2, #d147a3);
    }
}

.leave-button {
    background-color: #e74c3c !important;
    color: white !important;
    margin-top: 1rem;
    align-self: center;
}

.leave-button:hover {
    background-color: #c0392b !important;
}

.scrollable-table {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  /* Opcional: para que la tabla ocupe todo el ancho disponible */
  .scrollable-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .scrollable-table {
    scrollbar-gutter: stable;
  }
  