body .navbar {
    background-color: #3f51b5;
    box-shadow: none;
    border-bottom: 2px solid #e0e0e0;
}

body .navbar-toolbar {
    display: flex;
    justify-content: space-between;
}

body .navbar-left {
    display: flex;
    align-items: center;
}

body .navbar-avatar {
    background-color: white;
    color: #3f51b5;
    margin-right: 10px;
}

body .navbar-title {
    font-weight: bold;
}

body .navbar-right {
    display: flex;
    align-items: center;
}

body .navbar-profile-button {
    text-transform: none;
    font-weight: bold;
    margin-right: 10px;
}

body .navbar-icon-button {
    color: white;
}

body .navbar-user-avatar {
    background-color: #ff5722;
}
