.profile-container {
  padding: 1rem;
  max-width: 100%;
  margin: 0rem auto;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 1rem;
}

.profile-avatar {
  width: 90px;
  height: 90px;
  font-size: 40px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 1.5rem;
}

.save-button {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.save-button button {
  width: 100%;
  max-width: 300px;
  font-size: 1rem;
  padding: 0.7rem;
}

/* 2FA */
.twofa-card {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: #eef2f7;
  border-radius: 10px;
}

.twofa-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

.twofa-icon {
  font-size: 35px;
  color: #1976d2;
  margin-right: 15px;
}

.twofa-option button {
  background-color: #1976d2;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  font-weight: bold;
}

.twofa-option button:hover {
  background-color: #1257a3;
}
