{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "target": "es2018"
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": "inline"
}
