name: Build
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm --prefix users/authservice ci
      - run: npm --prefix users/userservice ci
      - run: npm --prefix users/groupservice ci
      - run: npm --prefix llmservice ci
      - run: npm --prefix gameservice ci
      - run: npm --prefix gatewayservice ci
      - run: npm --prefix webapp ci
      - run: npm --prefix users/authservice test -- --coverage
      - run: npm --prefix users/userservice test -- --coverage
      - run: npm --prefix users/groupservice test -- --coverage
      - run: npm --prefix llmservice test -- --coverage
      - run: npm --prefix gatewayservice test -- --coverage
      - run: npm --prefix gameservice test -- --coverage
      - run: npm --prefix webapp test -- --coverage
      - name: Analyze with SonarCloud
        uses: SonarSource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  e2e-tests:
    needs: [unit-tests]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm --prefix users/authservice install
      - run: npm --prefix users/userservice install
      - run: npm --prefix llmservice install
      - run: npm --prefix gameservice install
      - run: npm --prefix gatewayservice install
      - run: npm --prefix webapp install
      - run: npm --prefix webapp run build
      - run: npm --prefix webapp run test:e2e